<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" #modalActive tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{modalTitle}}</h5><button type="button" class="close" data-dismiss="modal" #closeAddExpenseModal aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {{modalContent}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="width:48px;" data-dismiss="modal" (click)="delete()">Sí</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button></div>
        </div>
    </div>
</div>
<!-- End Modal -->


<div class="portlet light bordered table-responsive">
    <div class="portlet-title">
        <div class="caption caption-md font-blue">
            <span class="caption-subject theme-font bold uppercase" style="margin-left: 10px;">Personas</span>
        </div>
        <div class="actions">

        </div>

    </div>

    <div class="portlet-body">
        <div class="row">



            <div class="col-6">
                <div class="card">
                    <div class="card-body">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>codigo</th>
                                    <th>nombres</th>
                                    <th>apPaterno</th>
                                    <th>apMaterno</th>
                                    <th>edad</th>
                                    <th>eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let persona of personas; let i = index" (click)="showDetail(persona,i)" style="border-bottom:1.5px solid #e7ebee; cursor: pointer;" [ngClass]="{'active': i == selectedIndex}">
                                    <td>{{persona.codigo}}</td>
                                    <td>{{persona.nombres}}</td>
                                    <td>{{persona.apPaterno}}</td>
                                    <td>{{persona.apMaterno}}</td>
                                    <td>{{persona.edad}}</td>
                                    <td>
                                        <button type="button" class="btn btn-circle red" style="padding: 0px 0px 1px 2px;height: 27px;width: 27px;margin-left: 3px;margin-top: 5px;" data-toggle="modal" data-target="#exampleModalCenter" (click)="showPopup(persona, i)" title="Dar de baja a {{persona.nombres}} "><i class="fa fa-trash"></i>
                                            </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">

                        <form class="form-horizontal" *ngIf="personaSeleccionada">
                            <div class="form-row ">

                                <div class="form-group col-md-6">
                                    <label for="nombre">codigo</label>
                                    <input id="codigo" name="codigo" [(ngModel)]="personaSeleccionada.codigo" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="nombre">nombres</label>
                                    <input id="nombre" name="nombres" [(ngModel)]="personaSeleccionada.nombres" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="nombre">ap paterno</label>
                                    <input id="apPaterno" name="apPaterno" [(ngModel)]="personaSeleccionada.apPaterno" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="nombre">ap materno</label>
                                    <input id="apMaterno" name="apMaterno" [(ngModel)]="personaSeleccionada.apMaterno" class="form-control">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="nombre">edad</label>
                                    <input id="edad" name="edad" [(ngModel)]="personaSeleccionada.edad" class="form-control">
                                </div>

                                <br>

                                <div class="form-group col-md-6">

                                    <button type="button" class="btn btn-success" (click)="update()">
                                              Guardar persona
                                            </button>

                                    <button type="button" class="btn btn-secondary" style="margin-left: 10px;">
                                                    Cancelar
                                            </button>

                                </div>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




<router-outlet></router-outlet>